body{
    background: linear-gradient(to top right, 
    #03001e, #7303c0, #ec38bc);
    height: 100vh;
    overflow: hidden;
}
.btn{
    display: block;
    color: #fff;
    margin-top: 300px;
    padding: 5px 10px;
    text-align: center;
}
.btn label{
    background-color: #ffffff66;
    margin: 0 20px;
    padding: 20px;
    display: inline-block;
}
.modal{
    width: 300px;
    margin: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transition-delay: 2s;
    transform: translate(-50%,-50%) scale(0);
}
.modal .header{
    background-image: linear-gradient(315deg, #21D4FD 1%, #B721FF 100%);
    min-height: 200px;
    border-radius: 20px;
    position: relative;
    padding: 20px 20px 100px 20px;
    opacity: 0;
    transition: 0.5s;
    transform: translate(0,70px);
}
.modal img{
    position: absolute;
}
.modal img:nth-child(1){
    top: -30px;
    width: 90%;
    left: 5%;
    z-index: 1;
    opacity: 0;
    transform: translate(0,70px);
    transition: 0.7s;
}
.modal img:nth-child(2){
    width: 555px;
    left: -127px;
    transform: translate(0,170px) rotate(80deg);
    transition: 1s;
}
.modal .content{
    background-color: #F5EBE066;
    padding: 20px;
    border-radius: 20px;
    min-height: 100px;
    color: #EEE;
    font-family: monospace;
    backdrop-filter: blur(20px);
    transform: translate(0,70px);
    opacity: 0;
    transition: 0.5s;
    transition-delay: 0.2;
}
.content .confirm{
    text-align: center;
    margin-top: 20px;
}
.content .confirm label,
.content .confirm button{
    display: inline-block;
    border: none;
    margin: 0 20px;
    padding: 10px;
    color: #FFF;
}
.content .confirm label{
    background-color: #ffffff66;
}
.content .confirm button{
    background-color: #6b04e166;
}
.modal input[name="settingmodal"]{
    display: none;
}
.modal:has(input[name="settingmodal"]:checked){
    transition: 0s;
    transform: translate(-50%,-50%) scale(1);
}
.modal:has(input[name="settingmodal"]:checked) .header{
    opacity: 1;
    transform: translate(0,0);
}
.modal:has(input[name="settingmodal"]:checked) .content{
    transition-delay: 0s;
    opacity: 1;
    transform: translate(0,-80px);
}
.modal:has(input[name="settingmodal"]:checked) .header img:nth-child(1){
    opacity: 1;
    transform: translate(0,0);
    transition-delay: 0.3s;
}
.modal:has(input[name="settingmodal"]:checked) .header img:nth-child(2){
    opacity: 1;
    transform: translate(0,-144px) rotate(-20deg);
    transition-delay: 0.1s;
}